{% extends 'base.html' %}

{% block title %}PizzaOnline Редактирование товара{% endblock %}
{% block body %}
    <h1>Редактирование рецепта</h1>
    <br>

    <form action="/save_recept" method="post">

        <table>
            <tbody>
                <tr><td>id: </td><td><input type="text" readonly="readonly" value='{{item.id}}' name="id"></td></tr>

                <tr><td>recept:</td><td> <textarea rows="10" cols="60" name="recept">{{ recept.recept }}</textarea></td></tr>
             </tbody>
        </table><br>




    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    <button type="reset" class="btn btn-primary">Отменить изменения</button>
    </form>
        <br>
        <br>
                <a href="/logout">Выйти из профиля</a>




{% endblock %}
